h1 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    padding: 10px;
}
.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    padding:10px;
    width: 200px;
    height 10px;
    font-size: 30px;
}
.gridbutton {
    padding:10px;
    width: auto;
    height auto;
    font-size: 10px;
    border-color: grey;
    border-width: thin;
    background-color: transparent;
}
.Copyright {
    font-size: 10px;
    text-align: center;
    vertical-align: bottom;
}
.ObjectiveRule {
    font-size: 20px
}
select {
    font-size: 20px;
}
.dropdown {
    padding: 10px;
    font-size: 20px;
}